// $primary-color: #49A078;
$primary-color: #216869;
$secondary-color: #ececec;

body {
    background: #423E37;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 340px;

    h1 {
        color: $primary-color;
    }

    p {
        color: $primary-color;
    }
}

.scrollDisable {
    overflow: hidden;
}

/////////////////////////////////////////////////

.search {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px 10px 0 10px;

    @media only screen and (max-width: 496px) {
          flex-direction: column;
          align-items: center;
      }

    input {
        width: 250px;
        height: 37px;
        background-color: $primary-color;
        padding: 0 4px 0 4px;
        border: none;
        border-bottom: solid 3px $primary-color;
        outline:none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 32px;
        color: $secondary-color;
        -webkit-transition: border-bottom .5s ease;
        -moz-transition: border-bottom .5s ease;
        -o-transition: border-bottom .5s ease;
        transition: border-bottom .5s ease;
    }

    input:focus {
        border-bottom: solid 3px $secondary-color;
    }

    button {
        height: 40px;
        width: 120px;
        border: none;
        background-color: $primary-color;
        margin: 0 0 0 5px;
        font-family: 'Press Start 2P', cursive;
        color: $secondary-color;
        -webkit-transition: font-size .5s ease;
        -moz-transition: font-size .5s ease;
        -o-transition: font-size .5s ease;
        transition: font-size .5s ease;
        font-size: 0.9em;

        @media only screen and (max-width: 496px) {
            width: 258px;
            margin: 5px 0 0 0;
        }
    }

    button:hover {
        font-size: 1.1em;
    }
    
}

////////////////////////////////////
.error {
    margin: auto;
    margin-top: 10px;

    h1 {
        text-align: center;
        font-size: 35px;
    }
}
.search-result {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 15px 10px 0 10px;

    h1 {
        font-size: 35px;
        padding-bottom: 10px;

        @media only screen and (max-width: 496px) {
            text-align: center;
        }
    }
}

.show-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.show {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    margin-bottom: 10px;
    padding: 10px 0 5px 0;
    border-radius: 10px;

    div {
        margin-top: 5px;
        padding: 0 5px 0 5px;
    }

    img {
        width: 210px;
        height: 300px;
        border-radius: 10px;
        -webkit-box-shadow: 2px 3px 20px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 3px 20px 2px rgba(0,0,0,0.75);
        box-shadow: 2px 3px 20px 2px rgba(0,0,0,0.75);
        filter: saturate(1.7);
        transition: filter 0.2s;
    }

    h2 {
        font-size: 20px;
        color: $secondary-color;
        text-align: center;
        margin-bottom: 5px;
    }

    p {
        color: $secondary-color;
        text-align: center;
    }
}

.show:hover {

    img {
        -webkit-filter: saturate(1.5);
        filter: saturate(1);
        transition: filter 0.2s;
    }
}

///////////////////////////////

.modal {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    overflow: auto;

    div {
        position: relative;
        margin: auto;
        display: flex;
        width: 80%;
        min-width: 300px;
        padding: 20px;
        background-color: $primary-color;
        border-radius: 10px;

        i {
            position: absolute;
            top: -0.5%;
            right: 0.7%;
            color: rgba(255, 255, 255, 0.507);
            transition: color 0.3s;
        }

        i:hover {
            color: rgba(255, 255, 255, 0.938);
            transition: color 0.3s;
        }

        @media only screen and (max-width: 800px) {
            margin-top: 5%;
            flex-direction: column;
            align-items: center;
        }

        figure {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            
            @media only screen and (max-width: 800px) {
                align-items: center;
                justify-content: flex-start;

                figcaption {
                    text-align: center;
                }

                img {
                    margin-bottom: 10px;
                }
            }

            figcaption {
                font-size: 32px;
                color: $secondary-color;
                margin: 0 0 10px 0;
            }
        
            img {
                width: 210px;
                height: 300px;
                border-radius: 10px;
                filter: saturate(1.7);
            }
        }
    
        article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0 0 10px;

            h2 {
                font-size: 20px;
                color: $secondary-color;
                margin-bottom: 5px;
            }
            
            p {
                margin-top: 10px;
                color: $secondary-color;
            }
        }
    }
}